.refund-jumbotron-container {
  position: relative;
  line-height: 0;

  .refund-jumbotron {
    padding: 10px 80px;
    background: linear-gradient(90deg, #000000 0%, #280B26 28.13%, rgba(119, 34, 112, 0.23) 77.15%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    line-height: normal;
  }


  .refund-jumbotron-video {
    width: 100%;
    object-position: 100% 100%;
  }

  .play-video-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 17%;
    top: 68%;
    transform: translate(50%, -50%);
    z-index: 10;
    cursor: pointer;

    .play-video-icon {
      margin-bottom: 10px;
    }

    .play-video-text {
      color: white;
      font-size: 0.8em;
    }
  }

  .refund-jumbotron-description {
    color: white;
    margin-bottom: 20px;
    font-size: 1.2vw;
    font-weight: 400;
  }

  @media screen and (max-width: 991px) {
    .refund-jumbotron {
      padding: 10px 50px;
    }

    .play-video-button {
      top: 78%;
    }
  }


  @media screen and (max-width: 767px) {
    .refund-jumbotron {
      background: linear-gradient(180deg, #000000 5%, rgba(40, 11, 38, 0.9) 11.46%, rgba(119, 34, 112, 0.09) 39.58%, rgba(159, 45, 149, 0.28) 50%, rgba(52, 40, 174, 0.37) 100%);
      padding: 15px 15px 0;
      display: flex;
      flex-direction: column;
      align-items: normal;
    }

    .refund-jumbotron-video {
      height: calc(100vh - 110px);
      object-fit: cover;
      object-position: top center;
    }

    .refund-jumbotron-description {
      margin-bottom: 0;
      padding: 10px 0;
      text-align: center;
      font-size: 1em;

      .primary-color {
        color: white;
      }
    }

    .play-video-button {
      right: 50%;
      top: 60%;

      .play-video-icon {
        margin-bottom: 0;
      }

      .play-video-text {
        display: none;
      }
    }
  }
}