.profile-card {
  margin-top: 32px;
  margin-bottom: 24px;
  object-fit: none;
  background: #1C1C1F;
  border-radius: 16px;
}

.card-video {
  height: 202px;
  position: relative;

  width: 100%;
  background: #4F5161;
  box-shadow: 3px -6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  overflow: hidden;
}

.card-video img {
  position: absolute;
  align-content: center;
  object-fit: cover;
  object-position: 100% 0;
  
}

.card-text {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* text-align: center; */
  color: #FFFFFF;
  opacity: 0.8;
}

.play-icon {
  float: right;
  margin-right: 10px;
  margin-top: -50px;
  z-index: 1;
  position: relative;
  /* background-color: #FFFFFF; */
}

.player-card-user-details {
  margin: 10px;

}