.privacy-policy-container {
  background-color: black;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  color: white;

  .main-heading {
    text-align: center;
    font-size: 2em;
  }

  @media only screen and (max-width: 767px) {
    .main-heading {
      text-align: center;
      font-size: 1.5em;
    }
  }
}