.bollywood-faqs {
  padding: 50px 0;
  color: white;

  .section-heading {
    font-family: Circular;
    margin-bottom: 25px;
  }

  .accordion {

    .card {
      background-color: #1C1C1F;
      color: #E5E5E5;
      font-size: 0.9em;
      margin-bottom: 16px;
      border-radius: 12px;
    }

    .card-header {
      padding-top: 15px;
      padding-bottom: 15px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .fa-chevron-down {
        font-size: 1.2em;
        padding-left: 10px;
      }

      &.active {
        .fa-chevron-down {
          padding-left: 0;
          padding-right: 10px;
          transform: rotate(180deg);
        }
      }

      &:after {
        content: '';
        height: 1px;
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50.15%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.8;
      }
    }
  }
}