.featured-in-container {
  padding: 190px 15px 100px;

  .feature-heading {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 50px;
    color: white;
  }

  .feature-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .feature-icon-image {
      width: 24%;
      cursor: pointer;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &.large-icon {
        width: 44%;
      }

      &.feature-icon-BW {
        width: 34%;
      }

      &.feature-icon-vc {
        height: auto;
        width: 14%;
      }

      &.feature-icon-ys {
        height: auto;
        width: 18%;
      }

      &.feature-icon-dh {

      }
    }
  }

  .stats-number-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
  }

  .grey-container {
    margin-top: 20px;
    background: #1C1C1F;
    border-radius: 12px;
    padding: 8px 20px;

    .stats-info {
      font-size: 14px;
      color: $text-secondary;
      padding: 0px 5px 5px 5px;

    }

    .stats-number {
      font-size: 34px;
      line-height: 43px;
      color: $text-primary;
      font-weight: bold;
      padding: 10px 5px 0 5px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 220px 15px 120px;

    .feature-heading {
      margin-bottom: 80px;
      font-size: 2.5em;
    }

    .feature-icon {
      .feature-icon-image {
        margin-right: 40px;

        &.large-icon {
          width: 28%;
        }

        &.feature-icon-BW {
          width: 22%;
        }

        &.feature-icon-ys, &.feature-icon-vc {
          height: 36px;
          width: auto;
        }
      }
    }

    .stats-number-container {
      flex-direction: row;
      justify-content: center;
      margin-top: 200px;

      .stats-number-col {
        padding-left: 35px;
        padding-right: 35px;
      }
    }

    .grey-container {
      padding: 25px 20px;

      .stats-info {
        font-size: 18px;
      }

      .stats-number {
        font-size: 38px;
      }
    }
  }

  @media screen and (min-width: 991px) {
    .feature-icon {
      .feature-icon-image {
        width: 14%;
        margin-right: 80px;
      }
    }
  }
}

