.how-it-works {
  // background-color: #E9E9E9;
  padding: 100px 0;

  .section-heading {
    margin-bottom: 35px;
    font-size: 2.5em;
    text-align: center;
    color: white;
  }

  .alice-carousel__stage-item {
    text-align: center;
  }

  .alice-carousel__dots {
    margin-top: 0;
    display: none;
  }

  .alice-carousel-container {
    .alice-carousel-left-button {
      left: -2%;
      top: 40%;
    }

    .alice-carousel-right-button {
      right: -2%;
      top: 40%;
    }
  }

  .item-container {

    .item-image {
      width: 75%;
    }

    .item-text {
      font-weight: 500;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 50px 0;

    .section-heading {
      font-size: 1.8em;
    }

    .alice-carousel__dots {
      display: flex;
    }

    .item-container {

      .item-image {
        width: 65%;
      }
    }

    .alice-carousel-container {
      .alice-carousel-left-button {
        left: 3%;
      }

      .alice-carousel-right-button {
        right: 3%;
      }
    }
  }

  .description-container {
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: initial;
  }
}