.marquee-actors-gift-stats-container {
  padding: 50px 0;

  .section-heading {
    margin-bottom: 35px;
    font-size: 2.5em;
    text-align: center;
    color: white;
    font-family: Circular;
  }

  .item-container {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    margin: 0 30px;

    .item-image {
      width: 80px;
    }

    .item-text {
      margin-bottom: 0;
      color: white;
      margin-top: 15px;
      font-family: Circular;
      font-size: 1.1em;
    }
  }

  @media screen and (max-width: 767px) {

    .section-heading {
      font-size: 1.8em;
    }

    .item-container {

      .item-image {
        width: 80px;
      }
    }

  }
}